
* {
margin: 0;
padding: 0;
}



div {
	width: 100%;
}

/* Header */

header {
	text-align: center;
}


/* Navigation */

ul li {
	display: inline-block;
	padding-top: 15px;
	margin-right: 15px;


}

.navigation {
	background-color: lightgray;
	height: 50px;
	margin: 10px 0;
	text-align: center;
}

ul li a {
	color: #5C5C5CFF;
}

/*Feature */
.features {
	background-color: lightgray;
	height: 50px;
	margin: 10px 0;
	text-align: center;
	padding-top: 20px;

}



/*Table */

.row {
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
}

.col {
    display: inline-block;
    width: 32%;
    background-color: lightgray;
    height: 40px;
    text-align: center;
    margin: 5px;
    padding-top: 14px
}

div[class="row"]:last-child {
	margin-right: 0px !important;
}


/*Footer */
footer {
  background-color: lightgray;
  height: 50px;
  margin-top: 10px;
  text-align: center;
  padding-top: 20px;
}
